In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# load the data
def load_data(path):
    data = pd.DataFrame()
    try:
        for file in os.listdir(path):
            df = pd.read_csv(os.path.join(path, file), sep=';')
            df['timestamp'] = pd.to_datetime(df['timestamp'],format="%Y-%m-%d %H:%M:%S")
            data = pd.concat([data, df])
    except:
        pass
    data = data.sort_values(by=['timestamp']).reset_index(drop=True)
    return data

In [3]:
data = load_data(path = './data')

In [20]:
data

                timestamp  customer_no  location
0     2019-09-02 07:03:00            2     dairy
1     2019-09-02 07:03:00            1     dairy
2     2019-09-02 07:04:00            8     fruit
3     2019-09-02 07:04:00            7    spices
4     2019-09-02 07:04:00            3     dairy
...                   ...          ...       ...
24872 2019-09-06 21:50:00         1500     dairy
24873 2019-09-06 21:50:00         1507  checkout
24874 2019-09-06 21:50:00         1508  checkout
24875 2019-09-06 21:50:00         1509    drinks
24876 2019-09-06 21:50:00         1510    spices

[24877 rows x 3 columns]

In [5]:
# Calculate the total number of customers in each section
def customer_section(data):
    df_section = data [['location','customer_no']]
    df_section = df_section.sort_values(by=['location'])
    df_section = df_section.groupby(['location']).count()
    return df_section

In [6]:
data_by_section = customer_section(data)

In [7]:
data_by_section

          customer_no
location
checkout         7417
dairy            4679
drinks           3905
fruit            5122
spices           3754

In [8]:
# Calculate the total number of customers in each section over time

# by Day
def customer_section_by_day(data):
    df_section_by_day = data.sort_values(by=['location', 'timestamp'])
    df_section_by_day['day'] = df_section_by_day['timestamp'].dt.dayofweek
    df_section_by_day = df_section_by_day [['day','location','customer_no']]
    df_section_by_day = df_section_by_day.groupby(['day', 'location']).count()
    return df_section_by_day

In [9]:
data_by_day = customer_section_by_day(data)

In [10]:
data_by_day

              customer_no
day location
0   checkout         1437
    dairy             895
    drinks            797
    fruit            1005
    spices            750
1   checkout         1420
    dairy             911
    drinks            713
    fruit             976
    spices            694
2   checkout         1526
    dairy             976
    drinks            775
    fruit            1043
    spices            730
3   checkout         1532
    dairy             965
    drinks            776
    fruit            1041
    spices            790
4   checkout         1502
    dairy             932
    drinks            844
    fruit            1057
    spices            790

In [11]:
# Calculate the total number of customers in each section over time

# by Hour
def customer_section_by_hour(data):
    df_section_by_hour = data.sort_values(by=['location', 'timestamp'])
    df_section_by_hour['hour'] = df_section_by_hour['timestamp'].dt.hour
    df_section_by_hour = df_section_by_hour [['hour','location','customer_no']]
    df_section_by_hour = df_section_by_hour.groupby(['hour', 'location']).count()
    return df_section_by_hour

In [12]:
data_by_hour = customer_section_by_hour(data)

In [13]:
data_by_hour

               customer_no
hour location
7    checkout          454
     dairy             275
     drinks            278
     fruit             299
     spices            238
...                    ...
21   checkout          305
     dairy             151
     drinks            180
     fruit             173
     spices            122

[75 rows x 1 columns]

In [14]:
# Display the number of customers at checkout over time

def customer_checkout_by_hour(data):
    df_checkout_by_hour = data.sort_values(by=['location', 'timestamp'])
    df_checkout_by_hour['hour'] = df_checkout_by_hour['timestamp'].dt.hour
    df_checkout_by_hour = df_checkout_by_hour [['hour','location','customer_no']]
    mask = df_checkout_by_hour['location'] == 'checkout'
    df_checkout_by_hour = df_checkout_by_hour[mask].groupby(['hour', 'location']).count()
    return df_checkout_by_hour

In [15]:
checkout_by_hour = customer_checkout_by_hour(data)

In [16]:
checkout_by_hour

               customer_no
hour location
7    checkout          454
8    checkout          677
9    checkout          455
10   checkout          427
11   checkout          342
12   checkout          384
13   checkout          514
14   checkout          496
15   checkout          412
16   checkout          518
17   checkout          556
18   checkout          630
19   checkout          755
20   checkout          492
21   checkout          305